# Python
.venv/
__pycache__/
*.pyc

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Local build artifacts
build/
*.zip

# OS / editor
.DS_Store
.vscode/
.idea/

# Secrets
.env
*.pem
*.key

# Logs
*.log

#AWS
aws/
